@use './partial/mixins.scss' as *;

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* UTILS */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.flex {
    display: flex;
}

.js {
    justify-content: start;
}

.wrap {
    flex-wrap: wrap;
}

.flex-jsb-ac {
    @include flex-jsb-ac; //flex justify-content space-between and align-items center
}

.flex-ac {
    @include flex-ac; //flex align-items center
}

.flex-jc-ac {
    @include flex-jc-ac; //flex justify-content center and align-items center
}