@use './variables.scss' as *; //path for variables

@mixin flex-jsb-ac {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-jc-ac {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-jsb {
    display: flex;
    justify-content: space-between;
}

@mixin flex-ac {
    display: flex;
    align-items: center;
}

@mixin underline {
    border-bottom: 5px solid $blue;
}

@mixin button {
    margin-bottom: 20px;
    padding: 15px 60px;
    color: white;
    background-color: #0282f9;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

@mixin tag {
    width: 250px;
    height: 55px;
    background-color: $blue;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.4rem;
    color: white;
}